.employee-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 1%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .employee-form h2 {
    margin-bottom: 20px;
  }
  
  .employee-form div {
    margin-bottom: 15px;
  }
  
  .employee-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .employee-form input[type='text'],
  .employee-form input[type='email'],
  .employee-form input[type='password'],
  .employee-form input[type='number'],
  .employee-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .employee-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .employee-form button:hover {
    background-color: #0056b3;
  }
  